@import "/src/app/shared/styles/table.css";


.container {
  width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  .title {
    justify-content: right;
    display: flex;
  }
  
  .list {
    flex: 0 0 80%;
  }

  
  @media screen and (max-width: 1000px) {
    .container {
      width: 100%;
    }
  }
  