@import "/src/app/shared/styles/form.css";
.cont-width {
  max-width: 50%;
}
.editor {
  height: 300px;
  overflow-y: auto;
}

img {
  width: 150px;
}

@media (max-width: 800px) {
  .cont-width {
    max-width: 100%;
    border: none;
    box-shadow: none;
  }

  form {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .cont-width {
    max-width: 100%;
    border: none;
    box-shadow: none;
    padding: none;
  }

  form {
    width: 100%;
    padding: 2em;
  }
}
