<div class="form-container">
  <form #loginForm="ngForm" (ngSubmit)="submitHandler()">
    <h2>Забравена парола</h2>
    <div class="field">
      <p>Въведете емайл за възстановяване на паролата. Ще получите линк за създаване на нова
            парола.</p>
    </div>
    <div class="field">
        <label for="email">Имейл</label>
        <input type="text" id="email" name="email" ngModel email required #emailInput="ngModel" />
    </div>

    <div>
        <div class="field error" *ngIf="loginForm.submitted && emailInput.errors?.['required']">
            Въведете имейл!
        </div>
    </div>
    <div *ngIf="emailInput.touched">
       
        <div class="field error" *ngIf="emailInput.errors?.['email']">
            Невалиден имейл!
        </div>
    </div>

    <div class="field">
        <input type="submit" class="submit" value="Изпрати линк" />
    </div>
    <div class="field success" *ngIf="showSuccess">    
        <p>Ако имейлът е регистриран, ще получите линк за възстановяване на паролата.</p>
    </div>
    </form>
</div>