
<div class="container">
   
    <div class="list">
      <div class="title">
        <input type="submit" value="Добави подкатегория" (click)="addSubCategory()" />
      </div>
      <ng-container *ngIf="subCategories$ | async as subCategories">
        <table>
          <thead>
            <tr>
              <th>Име</th>
              <th>Категория</th>
              <th>URL-handle</th>
              <th>Икона</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let subCategory of subCategories">
              <th class="text-content">{{ subCategory.name }}</th>
              <th class="text-content">{{ subCategory.category.name }}</th>
              <th class="text-content">{{ subCategory.urlHandle }}</th>
              <th>
                <app-awesome-icons [selectedIcon]="subCategory.icon"></app-awesome-icons>
              </th>
              <th class="text-content">
                <a class="editIcon" [routerLink]="['/admin/edit-subcategory', subCategory.id]">
                  <fa-icon [icon]="faPenToSquare"></fa-icon>
                </a>
                <a>
                  <fa-icon [icon]="faTrashCan"></fa-icon>
                </a>
              </th>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
  