@import "/src/app/shared/styles/table.css";

.container {
  width: 1400px;
  display: flex;
  justify-content: center;
}

.title {
  justify-content: right;
  display: flex;
}

.list {
  flex: 0 0 80%;
}

img {
  width: 120px;
}

input[type="submit"]:hover {
  cursor: pointer;
}

input[type="submit"] {
  max-width: 180px;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
}
