<div class="header">
    <div class="toogle-menu" (click)="toggleMenu()">
        <fa-icon [icon]="faBarChart"></fa-icon>
    </div>
    <div class="logo">
        <img src="assets/images/logo.png" [routerLink]="'/'" />
    </div>
    <div class="search">
        <form>
            <input type="search" #searchInput placeholder="Търсене..." />
            <fa-icon [icon]="faSearch" (click)="onSearch(searchInput.value)"></fa-icon>
        </form>
    </div>
</div>

<div class="overlay" [class.active]="isMenuOpen" (click)="toggleMenu()"></div>

<div class="drawer" [class.open]="isMenuOpen">
    <div class="drawer-header" *ngIf="user !== undefined">
        <span class="username">
            <fa-icon [icon]="faUser"></fa-icon> {{ user?.userName }}
        </span>
    </div>
    <nav>
        <ul>
            <li>
                <a [routerLink]="'/'" (click)="toggleMenu()">
                    <fa-icon [icon]="faHome" size="lg"></fa-icon>
                    Начална страница</a>
            </li>
            <li>
                <a class="size" [routerLink]="'/categories'" (click)="toggleMenu()">
                    <fa-icon [icon]="faFolder" size="lg"></fa-icon>
                    Категории</a>
            </li>
            <li>
                <a [routerLink]="'/articles'" (click)="toggleMenu()">
                    <fa-icon [icon]="faNewspaper" size="lg"></fa-icon>
                    Статии</a>
            </li>
            <ng-container *ngIf="
              user?.userName !== undefined && user?.roles?.includes('Writer')
            ">
                <li>
                    <a [routerLink]="'/admin'" (click)="toggleMenu()">
                        <fa-icon [icon]="faGear" size="lg"></fa-icon>
                        Админ
                    </a>
                </li>
            </ng-container>
            <li>
                <a [routerLink]="'/contacts'" (click)="toggleMenu()">
                    <fa-icon [icon]="faEnvelope" size="lg"></fa-icon>
                    Контакти</a>
            </li>
            <li>
                <ng-container *ngIf="user === undefined; else showLogout">
                    <a [routerLink]="'/login'" (click)="toggleMenu()">
                        <fa-icon [icon]="faSignIn" size="lg"></fa-icon>
                        Вход
                    </a>
                </ng-container>
                <ng-template #showLogout>
                    <a (click)="onLogout()">
                        <fa-icon [icon]="faSignOut" size="lg"></fa-icon>
                        Изход
                    </a>
                </ng-template>
            </li>
        </ul>
    </nav>
</div>