<!-- <div class="content"> 
  <div class="info"> 
    <h2>Лечебните Тайни на Природата</h2>
    <p>
      Придайте нова перспектива на здравето си с древни лечебни практики.
      Открийте методите, които ще ви държат в баланс - от билкови лечения до
      енергийно изцеление.
    </p>
  </div>
  <div>
    <img src="assets/images/home.jpg" alt="" />
  </div>
 </div> -->
 <div class="content">
    <div class="info"> 
        <h1>Лечебните Тайни на Природата</h1>
        <p>
          Придайте нова перспектива на здравето си с древни лечебни практики.
          Открийте методите, които ще ви държат в баланс - от билкови лечения до
          енергийно изцеление.
        </p>
        <button>ВИЖ ПОВЕЧЕ</button>
      </div>
</div>