.content {
  background-image: url("/assets/images/home6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 120px);
  width: 100%;
  color: white;
  object-fit: cover;
}

.content .info {
  padding-top: 150px;
  text-align: center;
}

.info h1 {
  font-size: 3em;
}

.info p {
  margin-top: 2em;
  font-size: 1.5em;
  padding-left: 10em;
  padding-right: 10em;
}

button {
  background-color: transparent;
  padding: 15px;
  border: 1px solid white;
  border-radius: 0.8em;
  color: white;
  cursor: pointer;
}

a {
  font-size: 18px;
}

@media screen and (max-width: 800px) {
    
.content .info {
    padding-top: 50px;
    text-align: center;
  }
  
  .info h1 {
    font-size: 2em;
  }
  
  .info p {
    margin-top: 1em;
    font-size: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
  }
  
}