<div class="main">
  <div class="container">
    <div class="articleList" *ngFor="let article of articles">
      <article>
        <div class="imageContent">
          <img [src]="article.imageUrl" alt="Article Image" />
        </div>
        <div>
          <div class="title">
            <a [routerLink]="[article.id]">{{ article.title }}</a>
          </div>

          <p [innerHTML]="article.content | slices : 300"></p>
        </div>
      </article>
    </div>
  </div>
</div>
<router-outlet> </router-outlet>
