
@import "/src/app/shared/styles/form.css";

.not-found{
    border: 1px solid rgb(145, 146, 122);
    background-color: rgb(252, 253, 214);
    width: 100%;
    text-align: center;
    padding: 2em;
    font-size: 16px;
}

.form-container{
    width: 500px;
}