.form-container {
    margin: 0 auto;
  }
  
  form {
    padding: 2em;
    display: flex;
    flex-direction: column;
  }
  
  .field {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-shrink: 1;
    padding-top: 1.5em;
  }
  
  textarea{
    max-width: 100%;
  }
  
  .error {
    color: red;
  }
  