<div class="form-container">
  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <h3>Добави коментар</h3>
    <p class="field">
      <label for="name">Коментар</label>
      <textarea
        type=""
        id="content"
        class="form-control"
        name="content"
        required
        [(ngModel)]="comment"
        #inputContent="ngModel"
        rows="6"
      ></textarea>
    </p>
    <ng-container *ngIf="inputContent.touched">
      <p *ngIf="inputContent?.errors?.['required']" class="error">
        Въведете коментар!
      </p>
    </ng-container>

    <p class="field">
      <input type="submit" value="Запази" />
    </p>
    <p class="error">
      {{ this.errorMessage }}
    </p>
  </form>
</div>
