
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.article {
    display: flex;
    flex-direction: column; 
    max-width: 1100px;
    width: 100%; 
    gap: 1em;
    padding: 50px;
    background: #fff;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1); /* Поправено за синтактична грешка */
    border-radius: 0.5em; /* Леко закръглени ъгли */
  }

.title{
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    color: #397194;
    margin: 0 auto; 

}

img {
    width: 100%;
    max-width:850px;
    height: auto;
    display: block;
    margin: 0 auto; 
  }
