.articleList {
  display: flex;
  flex-direction: column;
  gap: 5em;
  background: #fff;
  border-radius: 0.1em;
}

article {
  display: flex;
  flex-direction: row;
  gap: 1em;
  background: #fff;
  border-radius: 0.1em;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

h3 {
  padding-bottom: 20px;
}
.imageContent {
  padding: 10px;
}

.imageContent img {
  width: 280px;
  height: 100%;
}

.content {
  display: flex;
}

.title {
  padding-top: 8px;
  padding-bottom: 20px;
}

.title a {
  font-size: 25px;
}
.message {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #555;
}

@media (max-width: 800px) {
  .container {
    margin: 0 auto;
    padding: 10px;
  }

  .articleList {
    gap: 2em;
  }

  img {
    width: 200px;
    max-height: 200px;
  }
  article {
    padding: 10px;
  }
}

  @media (max-width: 600px) {
    img {
      width: 150px;
    }
  }


  @media (max-width: 480px) {

    articleList {
      gap: var(--mobile-gap);
  }
    article {
      flex-direction: column;
      padding: var(--mobile-padding);
      gap: var(--mobile-gap);
      padding-bottom: 2em;
    }

    .imageContent img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .imageContent {
      padding: 0;
    }

    .title {
      padding-top: 0px;
      padding-bottom: 3px;
    }
  }

