@import "/src/app/shared/styles/table.css";

.container {
  width: 1400px;
  display: flex;
  justify-content: center;
}

.title {
  justify-content: right;
  display: flex;
}

.list {
  flex: 0 0 80%;
}

img {
  width: 120px;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 1000px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}
