@import url('/src/app/shared/styles/form.css');
@import "../../../shared/styles/form.css";

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.not-found{
    border: 1px solid rgb(145, 146, 122);
    background-color: rgb(252, 253, 214);
    width: 100%;
    text-align: center;
    padding: 2em;
    font-size: 16px;
}


img{
    width: 150px;
}