@import "/src/app/shared/styles/form.css";
@import "../../../shared/styles/form.css";

.add-form {
    background-color: white;
  /*  border: 1px solid #ccc;
    margin: 0 auto;
    padding: 3em;
    max-width: 450px;
   margin-top: 20px;*/
  }
