<form #form="ngForm" (ngSubmit)="onFormSubmit()">
  <h2>Добави категория</h2>
  <p class="field">
    <label for="name">Име</label>
    <input
      type="text"
      id="categoryName"
      class="form-control"
      name="categoryName"
      required
      [(ngModel)]="model.name"
      #inputCategoryName="ngModel"
    />
  </p>
  
  <p  *ngIf="inputCategoryName?.errors?.['required']" class="error">
    Въведете име на категория!
  </p>
  <p class="field">
    <label for="url-handle">Url handle</label>
    <input
      type="text"
      id="url-handle"
      name="url-handle"
      [(ngModel)]="model.urlHandle"
    />
  </p>
  <p class="field">
    <label for="image">Снимка</label>
    <input
      type="file"
      id="image"
      name="image"
      (change)="onFileUploadChange($event)"
    />
  </p>
  <p class="field">
    <input type="submit" value="Запази" />
  </p>
</form>
