<div class="form-container">
  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <h2>Добави категория</h2>
    <p class="field">
      <label for="name">Име</label>
      <input
        type="text"
        id="categoryName"
        class="form-control"
        name="categoryName"
        required
        [(ngModel)]="model.name"
        #inputCategoryName="ngModel"
      />
    </p>
    <ng-container *ngIf="inputCategoryName.touched">
      <p *ngIf="inputCategoryName?.errors?.['required']" class="error">
        Въведете име на категория!
      </p>
    </ng-container>
    <!--p class="field">
    <label for="url-handle">Url handle</label>
    <input
      type="text"
      id="url-handle"
      name="url-handle"
      [(ngModel)]="model.urlHandle"
    />
  </p-->
    <p class="field">
      <label for="image">Снимка</label>
      <img *ngIf="previewUrl" [src]="previewUrl" alt="Article Image" on />
      <input
        type="file"
        id="image"
        ngModel
        #inputImage="ngModel"
        name="image"
        (change)="onFileUploadChange($event)"
      />
    </p>
    <ng-container *ngIf="inputImage.touched">
      <div class="error" *ngIf="!file">Изберете снимка!</div>
    </ng-container>
    <p class="field">
      <input type="submit" value="Запази" />
    </p>
    <p class="field error" *ngIf="form.valid">
      <span>Въведете валидни данни!</span>
    </p>
  </form>
</div>
