.loader-wrapper{
    position: fixed;
    top: 75px;
    left:   0;
    z-index: 9999;
    width: 100%;
    height: calc(100% - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

@media (max-width: 768px) {
    .loader-wrapper {
        top: 60px; 
        height: calc(100% - 60px);
    }
}
