<div class="form-container">
    <form  [formGroup]="form" (ngSubmit)="submitHandler()">
        <h2>Нова парола</h2>

        <ng-container formGroupName="passGroup">
            <div class="field password-container">
                <label for="newPassword">Парола</label>
                <input  [type]="passwordIsVisible ? 'text' : 'password'" id="newPassword" name="newPassword" formControlName="newPassword" />
                  <fa-icon [icon]=" passwordIsVisible ? faEyeSlash : faEye" class="toggle-password"
          (click)="togglePasswordVisibility()"></fa-icon>
            </div>
            <ng-container *ngIf="newPassword?.touched">
                <div class="error" *ngIf="passwordErrors?.['required']">
                    Въведете парола!
                </div>
                <div class="error" *ngIf="passwordErrors?.['appPasswordValidator']">
                    Паролата трябва да е минимум 6 символа, с поне една главна и една
                    малка буква!
                </div>
            </ng-container>

            <div class="field password-container">
                <label for="confirmPassword">Повтори парола</label>
                <input  [type]="confirmPasswordIsVisible ? 'text' : 'password'" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" />
                  <fa-icon [icon]=" confirmPasswordIsVisible ? faEyeSlash : faEye" class="toggle-password"
          (click)="toggleConfirmPasswordVisibility()"></fa-icon>
            </div>
            <ng-container *ngIf="confirmPassword?.touched">
                <div class="error" *ngIf="confirmPasswordErrors?.['matchPasswordsValidator']">
                    Двете пароли трябва да съвпаднат!
                </div>
            </ng-container>
        </ng-container>

        <div class="field">
            <input type="submit" class="submit" value="Смени паролата" />
            <div class="error">
                {{ this.errorMessage }}
            </div>
            <div class="success">
                {{ this.successMessage }}
            </div>
        </div>
    </form>
</div>"