.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    gap: 1em;
    height: 70vh;
    padding: 5rem;
    background: #fff;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
  }