<div class="container">
  <div class="content">
    <h1>Контакти</h1>
    <p>
      Ще се радваме да чуем вашето мнение! Независимо дали имате въпроси,
      обратна връзка или просто искате да се свържете с нас, не се колебайте да
      го направите.
    </p>
    <h3>Телефон:</h3>
    <p><a href="tel:+359123456789">+359 123 456 789</a></p>

    <h3>Имейл:</h3>
    <a href="mailto:admin@mindbodysoul.com">admin&#64;mindbodysoul.com</a>

    <h3>Адрес:</h3>
    <p>София, България</p>
    <p>
      Можете също да ни последвате в социалните мрежи, за да получавате последни
      новини и съвети за физическото и духовното здраве.
    </p>
  </div>
</div>
