<div class="form-container">
  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <h2>Добави подкатегория</h2>
    <p class="field">
      <label for="name">Име</label>
      <input
        type="text"
        id="subCategoryName"
        class="form-control"
        name="subCategoryName"
        [(ngModel)]="model.name"
        #inputSubCategoryName="ngModel"
        required
      />
    </p>
    <ng-container *ngIf="inputSubCategoryName.touched">
      <p *ngIf="inputSubCategoryName?.errors?.['required']" class="error">
        Въведете име на подкатегория!
      </p>
    </ng-container>

    <p class="field">
      <label for="category">Категория</label>
      <select
        name="category"
        id="category"
        [(ngModel)]="model.categoryId"
        #selectCategory="ngModel"
        required
      >
        <option value="">---Изберете категория---</option>
        <option
          *ngFor="let category of categories$ | async"
          [value]="category.id"
        >
          {{ category.name }}
        </option>
      </select>
    </p>
    <ng-container *ngIf="selectCategory.touched">
      <p class="error" *ngIf="selectCategory.errors?.['required']">
        Изберете подкатегория!
      </p>
    </ng-container>

    <!---p class="field">
    <label for="url-handle">Url handle</label>
    <input
      type="text"
      id="url-handle"
      name="url-handle"
      [(ngModel)]="model.urlHandle"
    />
  </p-->
    <p class="field">
      <label for="image">Икона</label>
      <select name="icons" id="icons" [(ngModel)]="model.icon" #selectIcon="ngModel" required>
        <option value="">---Изберете икона---</option>
        <option *ngFor="let key of iconsKeys" [value]="key">
          {{ key }}
        </option>
      </select>
    </p>
    <ng-container *ngIf="selectIcon.touched">
      <p class="error" *ngIf="selectIcon.errors?.['required']">
        Изберете икона!
      </p>
    </ng-container>
    <p class="field">
      <input type="submit" value="Запази" />
    </p>
    <p class="field error" *ngIf="invalid">
      <span>Въведете валидни данни!</span>
    </p>
  </form>
</div>
