<form #form="ngForm" (ngSubmit)="onFormSubmit()">
  <h2>Добави подкатегория</h2>
  <p class="field">
    <label for="name">Име</label>
    <input
      type="text"
      id="subCategoryName"
      class="form-control"
      name="subCategoryName"
      [(ngModel)]="model.name"
    />
  </p>
  <p class="field">
    <label for="category">Категория</label>
    <select name="category" id="category" [(ngModel)]="model.categoryId">
      <option value="">---Избери категория---</option>
      <!-- not selected / blank option -->
      <option
        *ngFor="let category of categories$ | async"
        [value]="category.id"
      >
        {{ category.name }}
      </option>
    </select>
  </p>
  <p class="field">
    <label for="url-handle">Url handle</label>
    <input
      type="text"
      id="url-handle"
      name="url-handle"
      [(ngModel)]="model.urlHandle"
    />
  </p>
  <p class="field">
    <label for="image">Икона</label>
    <input type="text" id="icon" name="icon" [(ngModel)]="model.icon" />
  </p>
  <p class="field">
    <input type="submit" value="Запази" />
  </p>
</form>
