<div class="header">
  <div class="logo">
    <img src="assets/images/logo.png" />
  </div>
  <div class="content">
    <div class="toogle-menu" (click)="toggleMenu()">
      <fa-icon [icon]="faBarChart"></fa-icon>
    </div>
    <div class="navbar" [class.open]="isMenuOpen">
      <nav>
        <ul>
          <li><a [routerLink]="'/'" (click)="toggleMenu()">Начална страница</a></li>
          <ng-container *ngIf="user?.userName !== undefined  && user?.roles?.includes('Writer')">
            <li><a [routerLink]="'/admin'" (click)="toggleMenu()">Админ</a></li>
            <li><a [routerLink]="'/add-article'" (click)="toggleMenu()">Добави статия</a></li>
          </ng-container> 
          <li><a href="" (click)="toggleMenu()">Категории</a></li>
          <li><a [routerLink]="'/articles'" (click)="toggleMenu()">Статии</a></li>
          <li><a href="" (click)="toggleMenu()">Контакти</a></li>
        </ul>
      </nav>
    </div>
    <div class="search">
      <input type="search" placeholder="Търсене..." />
      <fa-icon [icon]="faSearch"></fa-icon>
    </div>
  </div>
  <div class="login">
    <ng-container *ngIf="user === undefined; else showLogout">
      <a [routerLink]="'/login'">Вход</a>
    </ng-container>
    <ng-template #showLogout>
      <a name="username" id="username">{{ this.user?.userName }}</a>
      <a (click)="onLogout()">Изход</a>
    </ng-template>
  </div>
</div>
