
form {
    background-color: white;
    border: 1px solid #aaa;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding: 3em;
    max-width: 450px;
    margin-top: 20px;
    border-radius: 3px;
  }
  
  .field {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-shrink: 1;
    padding-top: 1.5em;
  }